<!DOCTYPE html>
<html lang="ja">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		crossorigin="anonymous" />
</head>

<body class="container">

	<header>
		<h1 class="display-4">
			<%= title %>
		</h1>
	</header>

	<div role="main">
		<p>
			<%= content %>
		</p>
		<table class="table">
			<tr>
				<th>ID</th>
				<td>
					<%= mydata.id %>
				</td>
			</tr>
			<tr>
				<th>NAME</th>
				<td>
					<%= mydata.name %>
				</td>
			</tr>
			<tr>
				<th>MAIL</th>
				<td>
					<%= mydata.mail %>
				</td>
			</tr>
			<tr>
				<th>AGE</th>
				<td>
					<%= mydata.age %>
				</td>
			</tr>
		</table>
	</div>

</body>

</html>